﻿<div id="modalContato" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="classe-subtitulo" id="subtituloModalContato">Criar Contato</h5>
        <input type="hidden" id="ContatoID" name="ContatoID" />
        <div class="row">
            <div class="input-field col s8">
                <select id="TipoContato" name="TipoContato" data-md-selectize>
                    <option value="1" selected>Telefone Fixo</option>
                    <option value="2">Telefone Celular</option>
                    <option value="3">E-mail</option>
                </select>
                <label for="TipoContato">Tipo de Contato</label>
            </div>
        </div>
        <div class="row">
            <div class="campo-telefone">
                <div class="input-field col s3">
                    <label for="DDD" id="labelDDD">DDD</label>
                    <input type="text" id="DDD" name="DDD" class="apenas-numeros" maxlength="3" />
                </div>
                <div class="input-field col s9">
                    <label for="Telefone" id="labelTelefone">Telefone</label>
                    <input type="text" id="Telefone" name="Telefone" class="apenas-numeros" maxlength="15" />
                </div>
            </div>
            <div class="campo-email" style="display: none">
                <div class="input-field col s12">
                    <label for="Email" id="labelEmail">E-mail</label>
                    <input type="email" id="Email" name="Email" maxlength="100" class="validate" />
                </div>
            </div>  
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action waves-effect waves-red btn-flat" onclick="SalvarContato();">Salvar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
</div>