﻿<div id="modalEndereco" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="classe-subtitulo" id="subtituloModalEndereco">Criar Endereço</h5>
        <input type="hidden" id="EnderecoID" name="EnderecoID" />
        <div class="row">
            <div class="input-field col s3">
                <label for="CEP" id="labelCEP">CEP</label>
                <input type="text" class="apenas-numeros" maxlength="8" id="CEP" name="CEP" />
            </div>
            <div class="input-field col s6">
                <label for="Endereco" id="labelEndereco">Endereço</label>
                <input type="text" id="Endereco" name="Endereco" maxlength="60" />
            </div>
            <div class="input-field col s3">
                <label for="Numero" id="labelNumero">Número</label>
                <input type="text" class="apenas-numeros" id="Numero" name="Numero" maxlength="10" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <label for="Bairro" id="labelBairro">Bairro</label>
                <input type="text" id="Bairro" name="Bairro" maxlength="60" />
            </div>
            <div class="input-field col s3">
                <label for="Cidade" id="labelCidade">Cidade</label>
                <input type="text" id="Cidade" name="Cidade" maxlength="60" />
            </div>
            <div class="input-field col s1">
                @Html.Editor("UF", "Estados", new { @class="validate" })
                <label for="UF" id="labelUF">UF</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="Complemento" id="labelComplemento">Complemento</label>
                <input type="text" id="Complemento" name="Complemento" maxlength="10" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-red btn-flat" onclick="SalvarEndereco();">Salvar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
</div>