﻿@{
    Layout = null;
}

<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <title>Soft-Line - Administração</title>

    <!-- Materialize -->
    <link href="~/content/materialize/css/materialize.min.css" rel="stylesheet" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Estilos Soft-Line -->
    <link href="~/content/CssPersonalizado/EstilosSoftLine.css" rel="stylesheet" />

</head>
<body class="centro-pagina">
    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
    <script src="~/Scripts/Account/Account.js"></script>
    <div class="row">
        <div class="card" id="login_card">
            <div class="card-content" id="login_form">
                <div class="login_heading col s12">
                    <i class="medium material-icons icone-centro">person_pin</i>
                </div>
                <form method="post" action="@Url.Action("Login")" enctype="application/x-www-form-urlencoded" id="accountForm">
                    <div class="row">
                        <label for="login_username">Nome do usuário</label>
                        <input class="md-input label-fixed" type="text" id="login_username" name="username" required />
                    </div>
                    <div class="row">
                        <label for="login_password">Senha</label>
                        <input class="md-input label-fixed" type="password" id="login_password" name="password" required />
                    </div>
                    <div class="row">
                        <button type="submit" id="botaoLogin" class="btn waves-effect waves-teal waves-light red col s12">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modalLogado" class="modal modal-fixed-footer" style="height: 220px">
        <div class="modal-content">
            <h4>Atenção!</h4>
            <p>O seu usuário já se encontra logado em outra máquina. Você deseja desconectá-lo e acessar a partir deste terminal ?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Não</a>
            <a onclick="$('#accountForm').submit();" class="modal-action waves-effect waves-red btn-flat">Sim</a>
        </div>
    </div>
</body>
</html>