﻿<script src="~/Scripts/GrupoUsuarios/Permissionamento.js"></script>
<script src="~/Scripts/GrupoUsuarios/GrupoUsuarios.js"></script>
<script src="~/Scripts/GrupoUsuarios/Criar.js"></script>
<script src="~/Scripts/GrupoUsuarios/FuncoesGrupoUsuarios.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Criar Grupo de Usuário</h4>
                        </div>
                    </div>  
                    <form id="formGrupo">
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="NomeGrupo">Nome do Grupo <span class="obrigatorio">*</span></label>
                                @Html.TextBox("NomeGrupo", string.Empty, new { @required = "required" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-header">
                                <span class="table-title">Permissões</span>
                            </div>
                            <div class="row">
                                <table class="highlight responsive-table" id="tabelaGrupo">
                                    <thead>
                                        <tr>
                                            <th width="15%">Módulo</th>
                                            <th class="center desabilita-ordenacao"></th>
                                            <th width="18%" class="center desabilita-ordenacao">Listar </th>
                                            <th width="18%" class="center desabilita-ordenacao">Incluir</th>
                                            <th width="18%" class="center desabilita-ordenacao">Editar</th>
                                            <th width="18%" class="center desabilita-ordenacao">Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td><p class="left"><input type="checkbox" id="0_0" /><label for="0_0"></label></p></td>
                                            <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="0_4" /><label for="0_4"></label></p></td>
                                            <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="0_1" /><label for="0_1"></label></p></td>
                                            <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="0_2" /><label for="0_2"></label></p></td>
                                            <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="0_3" /><label for="0_3"></label></p></td>
                                        </tr>
                                        @foreach (Api.Enums.PermissionamentoController item in Enum.GetValues(typeof(Api.Enums.PermissionamentoController)))
                                        {
                                            if (item == Api.Enums.PermissionamentoController.Nulo)
                                            {
                                                continue;
                                            }

                                            <tr>
                                                <td>@item</td>
                                                <td><p class="left"><input type="checkbox" id="@((int)item)_0" /><label for="@((int)item)_0"></label></p></td>
                                                <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="@((int)item)_4" /><label for="@((int)item)_4"></label></p></td>
                                                <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="@((int)item)_1" /><label for="@((int)item)_1"></label></p></td>
                                                <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="@((int)item)_2" /><label for="@((int)item)_2"></label></p></td>
                                                <td><p class="center" style="margin-left: 18px;"><input type="checkbox" id="@((int)item)_3" /><label for="@((int)item)_3"></label></p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>