﻿@model List<Api.Models.Model.GrupoUsuariosModel>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Listagem de Grupo de Usuários</span>
                        <div class="actions">
                            <a href="@Url.Action("Criar")" class="waves-effect btn-flat nopadding"><i class="material-icons">add_circle</i></a>
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaFinanceiro">
                            <thead>
                                <tr>
                                    <th>Nome do Grupo</th>
                                    <th class="desabilita-ordenacao"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Nome</td>
                                        <td>
                                            <a class="icone-clicavel" onclick="ExcluirGrupo('@item.Codigo')"><i class="material-icons">&#xE872;</i></a>
                                            <a class="icone-clicavel" href="@Url.Action("Editar", "GrupoUsuarios", new { codigo = item.Codigo })"><i class="material-icons">&#xE254;</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        var ExcluirGrupo = function (codigo) {
            //var msg = 'Removendo registro...aguarde!';
            $.blockUI({ message: 'Removendo registro...aguarde!' });

            $.ajax({
                type: "POST",
                url: "@Url.Action("Excluir", "GrupoUsuarios")",
                data: { codigo: codigo },
                success: function (data) {
                    if (data.Status)
                    {
                        Materialize.toast(data.Mensagem, 2000);
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                },
                dataType: "json"
            });
        }
    </script>
}