﻿@model string

@{ 
    string uf = string.IsNullOrEmpty(Model) ? "AC" : Model;
    string tag = TagBuilder.CreateSanitizedId("UF");
}

<select id="@tag" name="@tag" data-md-selectize>
    <option value="AC" @(uf.Equals("AC") ? "selected" : "")>AC</option>
    <option value="AL" @(uf.Equals("AL") ? "selected" : "")>AL</option>
    <option value="AP" @(uf.Equals("AP") ? "selected" : "")>AP</option>
    <option value="AM" @(uf.Equals("AM") ? "selected" : "")>AM</option>
    <option value="BA" @(uf.Equals("BA") ? "selected" : "")>BA</option>
    <option value="CE" @(uf.Equals("CE") ? "selected" : "")>CE</option>
    <option value="DF" @(uf.Equals("DF") ? "selected" : "")>DF</option>
    <option value="ES" @(uf.Equals("ES") ? "selected" : "")>ES</option>
    <option value="GO" @(uf.Equals("GO") ? "selected" : "")>GO</option>
    <option value="MA" @(uf.Equals("MA") ? "selected" : "")>MA</option>
    <option value="MT" @(uf.Equals("MT") ? "selected" : "")>MT</option>
    <option value="MS" @(uf.Equals("MS") ? "selected" : "")>MS</option>
    <option value="MG" @(uf.Equals("MG") ? "selected" : "")>MG</option>
    <option value="PA" @(uf.Equals("PA") ? "selected" : "")>PA</option>
    <option value="PB" @(uf.Equals("PB") ? "selected" : "")>PB</option>
    <option value="PR" @(uf.Equals("PR") ? "selected" : "")>PR</option>
    <option value="PE" @(uf.Equals("PE") ? "selected" : "")>PE</option>
    <option value="PI" @(uf.Equals("PI") ? "selected" : "")>PI</option>
    <option value="RJ" @(uf.Equals("RJ") ? "selected" : "")>RJ</option>
    <option value="RN" @(uf.Equals("RN") ? "selected" : "")>RN</option>
    <option value="RS" @(uf.Equals("RS") ? "selected" : "")>RS</option>
    <option value="RO" @(uf.Equals("RO") ? "selected" : "")>RO</option>
    <option value="RR" @(uf.Equals("RR") ? "selected" : "")>RR</option>
    <option value="SC" @(uf.Equals("SC") ? "selected" : "")>SC</option>
    <option value="SP" @(uf.Equals("SP") ? "selected" : "")>SP</option>
    <option value="SE" @(uf.Equals("SE") ? "selected" : "")>SE</option>
    <option value="TO" @(uf.Equals("TO") ? "selected" : "")>TO</option>
</select>