﻿@model  Api.Enums.Situacao?

@{
    int modelData = (Model.HasValue) ? (int)Model.Value : 1;
    string tag = TagBuilder.CreateSanitizedId("Situacao");
}

<select id="@tag" name="@tag" data-md-selectize>
    <option value="1" @(modelData == 1 ? "selected" : "")>Ativo</option>
    <option value="2" @(modelData == 2 ? "selected" : "")>Inativo</option>
</select>