﻿@model Api.Models.Model.ParametrosModel

<script src="~/Scripts/Parametros/Parametros.js"></script>
<script src="~/Scripts/Parametros/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Parâmetros do Sistema</h4>
                        </div>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <form action="@Url.Action("Editar")" id="formParametros" method="post" enctype="application/x-www-form-urlencoded">
                            @Html.HiddenFor(model => model.Codigo)
                            @Html.HiddenFor(model => model.TipoIntegracao)
                            @Html.HiddenFor(model => model.ValidaEstoque)
                            <div class="row">
                                <div class="input-field col s3">
                                    <label for="Nome">Cliente Default </label>
                                    @Html.TextBoxFor(model => model.ClienteDefault, new { @class="apenas-numeros", @maxlength = "9" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="StatusPlano">Vendedor Default </label>
                                    @Html.TextBoxFor(model => model.VendedorDefault, new { @class = "apenas-numeros", @maxlength = "9" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="StatusPlano">Plano de Pagamento Default </label>
                                    @Html.TextBoxFor(model => model.PlanoPagamentoDefault, new { @class = "apenas-numeros", @maxlength = "9" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <div class="switch">
                                        <label class="active">Valida Estoque</label>
                                        <label>
                                            Não
                                            <input type="checkbox" id="ValidaEstoqueCheck" name="ValidaEstoqueCheck">
                                            <span class="lever"></span>
                                            Sim
                                        </label>
                                    </div>
                                </div>
                                <div class="input-field col s3">
                                    <div class="switch">
                                        <label class="active">Tipo de Integração</label>
                                        <label>
                                            Off-line
                                            <input type="checkbox" id="TipoIntegracaoCheck" name="TipoIntegracaoCheck">
                                            <span class="lever"></span>
                                            On-line
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="col s12">
                                <button class="waves-effect waves-light blue lighten-1 btn" type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>