﻿@model Api.Models.Model.ClienteModel
     
<script src="~/Scripts/Clientes/Contato.js"></script>
<script src="~/Scripts/Clientes/Endereco.js"></script>
<script src="~/Scripts/Clientes/Cliente.js"></script>
<script src="~/Scripts/Clientes/Funcoes.js"></script>
<script src="~/Scripts/Clientes/Criar.js"></script>

<div id="page_content_inner">
    <form>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row titulo">
                            <div class="col s12">
                                <h4>Criar Cliente</h4>
                            </div>
                        </div>
                        @Html.Hidden("TK", TempData["TK"])
                        @Html.Hidden("url", TempData["url"])
                        <h5 class="classe-subtitulo">Informações Gerais</h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <label id="LabelNome" for="Nome" class="active">Nome <span class="obrigatorio">*</span></label>
                                @Html.TextBoxFor(model => model.Nome, new { @class = "validate", @required = "required", maxlength = "60" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s3">
                                <select id="TipoDocumento" name="TipoDocumento">
                                    <option value="1" selected>CNPJ</option>
                                    <option value="2">CPF</option>
                                </select>
                                <label for="TipoDocumento">Tipo de Documento </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="Documento" class="active">Número de Documento </label>
                                @Html.TextBoxFor(model => model.Documento, new { @class = "validate apenas-numeros", maxlength = "14" })
                            </div>
                            <div class="input-field col s6">
                                <label for="InscricaoEstadual" class="active">Inscrição Estadual </label>
                                @Html.TextBoxFor(model => model.InscricaoEstadual, new { @class = "validate", maxlength = "20" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="LimiteCredito" class="active">Limite de Crédito </label>
                                @Html.TextBoxFor(model => model.LimiteCredito, new { @class = "validate formata-currency", maxlength = "14" })
                            </div>
                            <div class="input-field col s3">
                                @Html.EditorFor(model => model.StatusCliente, "Situacao", new { @class = "validate" })
                                <label>Situação</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="Observacao" class="active">Observação </label>
                                @Html.TextAreaFor(model => model.Observacao, new { @class = "materialize-textarea validate", maxlength = "200" })
                            </div>
                        </div>
                        <div class="card material-table">
                            <div class="card-content">
                                <h5 class="classe-subtitulo">
                                    Endereço
                                    <a class="btn-floating waves-effect waves-light blue lighten-1" onclick="CriarEndereco();" style="position: absolute; display: inline-block; right: 40px; top: 44px;"><i class="material-icons">add</i></a>
                                </h5>
                                <div class="row">
                                    <table class="highlight responsive-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 35%">Endereço</th>
                                                <th style="width: 12%">Número</th>
                                                <th style="width: 18%">Bairro</th>
                                                <th style="width: 18%">Cidade</th>
                                                <th style="width: 5%">UF</th>
                                                <th style="width: 10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="innerTableEndereco">
                                            @if (Model.Endereco != null)
                                            {
                                                foreach (var item in Model.Endereco)
                                                {
                                                    <tr>
                                                        <td>@item.Endereco</td>
                                                        <td>@item.Numero</td>
                                                        <td>@item.Bairro</td>
                                                        <td>@item.Cidade</td>
                                                        <td>@item.Estado</td>
                                                        <td>
                                                            <a id="EditarEndereco" style="float: right" value="@(item.EnderecoID)"><i class="material-icons">&#xE254;</i></a>
                                                            <a id="ExcluirEndereco" style="float: right" value="@(item.EnderecoID)" onclick="ExcluirEndereco(this.value)"><i class="material-icons">&#xE872;</i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }else
                                            {
                                                <tr>
                                                    <td>
                                                        Nenhum Endereço Cadastrado
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card material-table">
                            <div class="card-content">
                                <h5 class="classe-subtitulo">
                                    Contato
                                    <a class="btn-floating waves-effect waves-light blue lighten-1" onclick="CriarContato();" style="position: absolute; display: inline-block; right: 40px; top: 44px;"><i class="material-icons">add</i></a>
                                </h5>
                                <div class="row">
                                    <table class="highlight responsive-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 30%">Tipo de Contato</th>
                                                <th style="width: 10%">DDD</th>
                                                <th style="width: 15%">Telefone</th>
                                                <th style="width: 20%">E-mail</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="innerTableContato">
                                            @if (Model.Contato != null)
                                            {
                                                foreach (var item in Model.Contato)
                                                {
                                                    <tr>
                                                        <td>@item.TipoContato.ToString()</td>
                                                        <td>@item.DDD</td>
                                                        <td>@item.Telefone</td>
                                                        <td>@item.Email</td>
                                                        <td>
                                                            <a id="EditarContato" value="@(item.ContatoID)"><i class="material-icons">&#xE254;</i></a>
                                                            <a id="ExcluirContato" value="@(item.ContatoID)" onclick="ExcluirContato(this.value)"><i class="material-icons">&#xE872;</i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        Nenhum Contato Cadastrado
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Clientes/Modal/CriarEndereco.cshtml")
@Html.Partial("~/Views/Clientes/Modal/CriarContato.cshtml")