﻿@model Api.Models.Model.ClienteModel

<script src="~/Scripts/Clientes/Contato.js"></script>
<script src="~/Scripts/Clientes/Endereco.js"></script>
<script src="~/Scripts/Clientes/Cliente.js"></script>
<script src="~/Scripts/Clientes/Funcoes.js"></script>
<script src="~/Scripts/Clientes/Editar.js"></script>

<div id="page_content_inner">
    <form>
        @Html.HiddenFor(model => model.Codigo)
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row titulo">
                            <div class="col s12">
                                <h4>Editar Cliente</h4>
                            </div>
                        </div>
                        <h5 class="classe-subtitulo">Informações Gerais</h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <label id="LabelNome" for="Nome" class="active">Nome <span class="obrigatorio">*</span></label>
                                @Html.TextBoxFor(model => model.Nome, new { @class = "validate", @required = "required", maxlength = "60" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s3">
                                <select id="TipoDocumento" name="TipoDocumento">
                                    <option value="1" @(Model.TipoDocumento == Api.Enums.TipoDocumento.CNPJ ? "selected" : "")>CNPJ</option>
                                    <option value="2" @(Model.TipoDocumento == Api.Enums.TipoDocumento.CPF ? "selected" : "")>CPF</option>
                                </select>
                                <label for="TipoDocumento">Tipo de Documento </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="Documento" class="active">Número de Documento </label>
                                @Html.TextBoxFor(model => model.Documento, new { @class = "validate apenas-numeros", maxlength = "14" })
                            </div>
                            <div class="input-field col s6">
                                <label for="InscricaoEstadual" class="active">Inscrição Estadual </label>
                                @Html.TextBoxFor(model => model.InscricaoEstadual, new { @class = "validate", maxlength = "20" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="LimiteCredito" class="active">Limite de Crédito </label>
                                @Html.TextBoxFor(model => model.LimiteCredito, new { @class = "validate formata-currency", maxlength = "14" })
                            </div>
                            <div class="input-field col s3">
                                @Html.EditorFor(model => model.StatusCliente, "Situacao", new { @class = "validate" })
                                <label>Situação </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="Observacao" class="active">Observação </label>
                                @Html.TextAreaFor(model => model.Observacao, new { @class = "materialize-textarea validate", maxlength = "200" })
                            </div>
                        </div>
                        <div class="card material-table">
                            <div class="card-content">
                                <h5 class="classe-subtitulo">
                                    Endereço
                                    <a class="btn-floating waves-effect waves-light blue lighten-1" onclick="CriarEndereco();" style="position: absolute; display: inline-block; right: 40px; top: 44px;"><i class="material-icons">add</i></a>
                                </h5>
                                <div class="row">
                                    <table class="highlight responsive-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 35%">Endereço</th>
                                                <th style="width: 12%">Número</th>
                                                <th style="width: 18%">Bairro</th>
                                                <th style="width: 18%">Cidade</th>
                                                <th style="width: 5%">UF</th>
                                                <th style="width: 10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="innerTableEndereco">
                                            @if (Model.Endereco != null && Model.Endereco.Count > 0)
                                            {
                                                foreach (var item in Model.Endereco)
                                                {
                                                    <tr>
                                                        <td>@item.Endereco</td>
                                                        <td>@item.Numero</td>
                                                        <td>@item.Bairro</td>
                                                        <td>@item.Cidade</td>
                                                        <td>@item.Estado</td>
                                                        <td>
                                                            <a id="ExcluirEndereco" class="icone-clicavel" value="@item.EnderecoID" onclick="ExcluirEndereco('@(item.EnderecoID)')"> <i class="material-icons">&#xE872; </i></a>
                                                            <a id="EditarEndereco" class="icone-clicavel" value="@item.EnderecoID" onclick="EditarEndereco('@(item.EnderecoID)')"> <i class="material-icons">&#xE254; </i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        Nenhum Endereço Cadastrado
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card material-table">
                            <div class="card-content">
                                <h5 class="classe-subtitulo">
                                    Contato
                                    <a class="btn-floating waves-effect waves-light blue lighten-1" onclick="CriarContato();" style="position: absolute; display: inline-block; right: 40px; top: 44px;"><i class="material-icons">add</i></a>
                                </h5>
                                <div class="row">
                                    <table class="highlight responsive-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 30%">Tipo de Contato</th>
                                                <th style="width: 10%">DDD</th>
                                                <th style="width: 15%">Telefone</th>
                                                <th style="width: 20%">E-mail</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="innerTableContato">
                                            @if (Model.Contato != null && Model.Contato.Count > 0)
                                            {
                                                foreach (var item in Model.Contato)
                                                {
                                                    <tr>
                                                        <td>@{
                                                            string nome = string.Empty;
                                                            if (item.TipoContato == Api.Enums.TipoContato.TELEFONE_FIXO) { nome = "Telefone Fixo"; }
                                                            else if (item.TipoContato == Api.Enums.TipoContato.TELEFONE_CELULAR) { nome = "Telefone Celular"; }
                                                            else { nome = "E-mail"; }
                                                            }
                                                            @nome
                                                        </td>
                                                        <td>@item.DDD</td>
                                                        <td>@item.Telefone</td>
                                                        <td>@item.Email</td>
                                                        <td>
                                                            <a id="ExcluirContato" class="icone-clicavel" value="@item.ContatoID" onclick="ExcluirContato(@item.ContatoID)"> <i class="material-icons">&#xE872; </i></a>
                                                            <a id="EditarContato" class="icone-clicavel" value="@item.ContatoID" onclick="EditarContato(@item.ContatoID)"> <i class="material-icons">&#xE254; </i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        Nenhum Contato Cadastrado
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Clientes/Modal/CriarEndereco.cshtml")
@Html.Partial("~/Views/Clientes/Modal/CriarContato.cshtml")

<script>
    var data = @Html.Raw(Json.Encode(Model));
    window.addEventListener('DOMContentLoaded', function(){
        for(var index in data.Endereco)
        {
            cliente.Endereco.push(data.Endereco[index]);
        }
        for(var index in data.Contato)
        {
            cliente.Contato.push(data.Contato[index]);
        }
    });
</script>