﻿<script src="~/Scripts/Clientes/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Listagem de Clientes</span>
                        <div class="actions">
                            <a href="@Url.Action("Criar")" class="waves-effect btn-flat nopadding"><i class="material-icons">add_circle</i></a>
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaClientes">
                            <thead>
                                <tr>
                                    <th width="10%">Código</th>
                                    <th width="20%">Nome</th>
                                    <th width="10%">Tipo</th>
                                    <th width="15%">Número de Documento</th>
                                    <th width="15%">Inscrição Estadual</th>
                                    <th width="25%">Situação</th>
                                    <th class="desabilita-ordenacao"></th>
                                </tr>
                            </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>