﻿<div id="conteudo-interno">
    <div class="row">
        <div class="col s12">
            <h4>Bem-vindo ao Retaguarda Digital</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    Sistema em fase de desenvolvimento.
                </div>
            </div>
        </div>
    </div>
</div>

