﻿

<div id="page_content_inner">

    <h3 class="heading_b uk-margin-bottom">My test page</h3>

    <div class="md-card">
        <div class="md-card-content">
            <h3 class="heading_a">Input fields</h3>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label>Label</label>
                                <input type="text" class="md-input" />
                            </div>
                            <div class="uk-width-medium-1-2">
                                <label>Label fixed</label>
                                <input type="text" class="md-input label-fixed" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label>Passsword</label>
                        <input type="password" class="md-input" />
                    </div>
                    <div class="uk-form-row">
                        <label>Disabled</label>
                        <input type="text" class="md-input" disabled />
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row">
                        <label>Prefilled</label>
                        <input type="text" class="md-input" value="Lorem ipsum dolor sit" />
                    </div>
                    <div class="uk-form-row">
                        <label>Error</label>
                        <input type="text" class="md-input md-input-danger" value="Something wrong" />
                    </div>
                    <div class="uk-form-row">
                        <label>Success</label>
                        <input type="text" class="md-input md-input-success" value="All ok" />
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-4 uk-width-medium-1-2">
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon"><input type="checkbox" data-md-icheck /></span>
                        <label>Checkbox addon</label>
                        <input type="text" class="md-input" />
                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-width-medium-1-2">
                    <div class="uk-input-group">
                        <label>Button addon</label>
                        <input type="text" class="md-input" />
                        <span class="uk-input-group-addon"><a class="md-btn" href="#">Save</a></span>
                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-width-medium-1-2">
                    <div class="uk-input-group">
                        <label>Icon addon</label>
                        <input type="text" class="md-input" />
                        <span class="uk-input-group-addon">
                            <a href="#"><i class="material-icons">&#xE163;</i></a>
                        </span>
                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-width-medium-1-2">
                    <div class="uk-input-group">
                        <span class="uk-input-group-addon">$</span>
                        <label>Text addon</label>
                        <input type="text" class="md-input" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

