﻿@{
    Layout = null;
}

<div class="row">
    <div class="col s12">
        <button class="waves-effect waves-light blue lighten-1 btn" type="submit">Salvar</button>
        <a class="white black-text btn" href="@Url.Action("Index")">Cancelar</a>
    </div>
</div>

