﻿@model Api.Models.Model.ProdutoModel

<script src="~/Scripts/Produto/ImagemProduto.js"></script>
<script src="~/Scripts/Produto/Produto.js"></script>
<script src="~/Scripts/Produto/Criar.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Criar Produto</h4>
                        </div>
                    </div>
                    @Html.Hidden("TK", TempData["TK"])
                    @Html.Hidden("url", TempData["url"])
                    <div class="row">
                        <ul class="tabs">
                            <li class="tab col s6" id="InformacoesGeraisTab">
                                <a href="#InformacoesGerais">Informações Gerais</a>
                            </li>
                            <li class="tab col s6" id="ImagensTab">
                                <a href="#Imagens">Imagens</a>
                            </li>
                        </ul>
                    </div>
                    <form action="@Url.Action("Criar")" id="formProduto" method="post" enctype="application/x-www-form-urlencoded">
                        <div id="InformacoesGerais" class="col s12">
                            <div class="row">
                                @Html.HiddenFor(model => model.Codigo)
                                <div class="input-field col s6">
                                    <label for="Nome">Nome <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Nome, new { @maxlength = "60", @required = "required" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="Marca">Marca </label>
                                    @Html.TextBoxFor(model => model.Marca, new { @maxlength = "30" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="Cor">Cor </label>
                                    @Html.TextBoxFor(model => model.Cor, new { @maxlength = "30" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    <label for="CodigoBarras">Código de Barras</label>
                                    @Html.TextBoxFor(model => model.CodigoBarras, new { @maxlength = "20" })
                                </div>
                                <div class="input-field col s4">
                                    <label for="CodigoFabrica">Código de Fábrica</label>
                                    @Html.TextBoxFor(model => model.CodigoFabrica, new { @maxlength = "20" })
                                </div>
                                <div class="input-field col s4">
                                    <label for="CodigoOriginal">Código Original</label>
                                    @Html.TextBoxFor(model => model.CodigoOriginal, new { @maxlength = "20" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s1">
                                    <label for="Unidade">Unidade <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Unidade, new { @maxlength = "3", @required = "required" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="Tamanho">Tamanho</label>
                                    @Html.TextBoxFor(model => model.Tamanho, new { @maxlength = "10" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="ValorVenda">Valor de Venda <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.ValorVenda, new { @maxlength = "14", @class = "formata-currency", @required = "required" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="QuantidadeEstoque">Quantidade em Estoque</label>
                                    @Html.TextBoxFor(model => model.QuantidadeEstoque, new { @maxlength = "15", @class = "formata-currency", @casasdecimais = 3 })
                                </div>
                                <div class="input-field col s2">
                                    <label for="Situacao" class="active">Status</label>
                                    @Html.EditorFor(model => model.Status, "Situacao")
                                </div>
                            </div>
                        </div>
                        <div id="Imagens" class="col s12">
                            <div class="row">
                                <div class="col s1"><br /></div>
                                <div class="carousel carousel-slider col s10" id="carousel-produto">
                                    <div class="centro-pagina" style="text-align: center; vertical-align: middle;line-height: 500px;">
                                        <span>Não existe imagens anexadas.</span>
                                    </div>
                                </div>
                                <div class="col s1"></div>
                            </div>
                            <div class="row" id="botoesCarousel" style="display:none">
                                <div class="centro-pagina" style="margin-top: 0px;">
                                    <a class="waves-effect btn-flat" id="carousel-retorna"><i class="material-icons">keyboard_arrow_left</i></a>
                                    <a class="waves-effect waves-red btn-flat" id="carousel-remove"><i class="material-icons">delete</i></a>
                                    <a class="waves-effect btn-flat" id="carousel-avanca"><i class="material-icons">keyboard_arrow_right</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s10">
                                <button class="waves-effect waves-light blue lighten-1 btn" id="Salvar">Salvar</button>
                                <a class="white black-text btn" href="@Url.Action("Index")">Cancelar</a>
                            </div>
                            <div class="col s2" style="text-align: right">
                                <a class="waves-effect waves-light blue lighten-1 btn" id="AnexarImagens" onclick="ModalAnexarImagem();"><i class="material-icons">insert_photo</i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Produto/Modal/UploadImagem.cshtml", Model.Codigo)