﻿<script src="~/Scripts/Produto/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Listagem de Produto</span>
                        <div class="actions">
                            <a href="@Url.Action("Criar")" class="waves-effect btn-flat nopadding"><i class="material-icons">add_circle</i></a>
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaProduto">
                            <thead>
                                <tr>
                                    <th width="6%">Código</th>
                                    <th width="25%">Nome</th>
                                    <th width="15%">Marca</th>
                                    <th width="15%">Valor de Venda</th>
                                    <th width="15%">Qtd. Estoque</th>
                                    <th width="15%">Status</th>
                                    <th class="desabilita-ordenacao" width="5%" style="align-items: flex-end"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>