﻿<script src="~/Scripts/Auditoria/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Listagem de Auditoria</span>
                        <div class="actions">
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaAuditoria">
                            <thead>
                                <tr>
                                    <th width="15%">Usuário</th>
                                    <th width="15%">E-mail</th>
                                    <th width="20%">Data/Hora</th>
                                    <th width="15%">Operação</th>
                                    <th width="15%">Tabela</th>
                                    <th width="15%">Objeto</th>
                                    <th class="desabilita-ordenacao" width="5%"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>