﻿@model Api.Models.Model.AuditoriaModel

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Visualizar Auditoria</h4>
                        </div>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s4">
                                <label for="UsuarioNome" class="active">Nome </label>
                                @Html.TextBoxFor(model => model.UsuarioNome, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="UsuarioSobrenome" class="active">Sobrenome </label>
                                @Html.TextBoxFor(model => model.UsuarioSobrenome, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="UsuarioSobrenome" class="active">Sobrenome </label>
                                @Html.TextBoxFor(model => model.UsuarioEmail, new { @disabled = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <label for="Operacao" class="active">Operação </label>
                                @Html.TextBoxFor(model => model.Operacao, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="DataOperacao" class="active">Data da Operação </label>
                                @Html.TextBoxFor(model => model.DataOperacao, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="Tabela" class="active">Tabela </label>
                                @Html.TextBoxFor(model => model.Tabela, new { @disabled = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="Objeto" class="active">Objeto</label>
                                @Html.TextAreaFor(model => model.Objeto, new { @class = "materialize-textarea", @rows = "2", @disabled = true })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="white black-text btn" href="@Url.Action("Index")">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>