﻿@model int
@{
    Layout = null;
}

<div id="modalUploadImagem" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="classe-subtitulo" id="subtituloModalUploadImagem">Anexar Imagens</h5>
        <div class="row">
            <form class="dropzone"
                  id="UploadImagemDrop">
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Fechar</a>
    </div>
</div>