﻿
.mandatory {
    color: red;
}

#header_main {
    background-color: #ce0202 !important;
}

.uk-button-primary {
  background-color: darkblue;
  color: #ffffff;
}

.uk-button-primary:hover,
.uk-button-primary:focus {
  background-color: #0014b5;
  color: #ffffff;
}

.uk-button-primary:active,
.uk-button-primary.uk-active {
  background-color: #0014b5;
  color: #ffffff;
}

.uk-button-success {
  background-color: #72ae41;
  color: #ffffff;
}

.uk-button-success:hover,
.uk-button-success:focus {
  background-color: #8ec73b;
  color: #ffffff;
}


.uk-button-success:active,
.uk-button-success.uk-active {
  background-color: #72ae41;
  color: #ffffff;
}


.uk-button-danger {
  background-color: #c91032;
  color: #ffffff;
}

.uk-button-danger:hover,
.uk-button-danger:focus {
  background-color: red;
  color: #ffffff;
}

.uk-button-danger:active,
.uk-button-danger.uk-active {
  background-color: red;
  color: #ffffff;
}