﻿@{
    Layout = null;
}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <title>Soft-Line - Administração</title>

    <!-- Materialize -->
    <link href="~/content/materialize/css/materialize.min.css" rel="stylesheet" />

</head>
<body style="background-color: #F5F2F0;">

    <div style="background-color: rgba(255, 16, 0, 0.87);" class="row section no-pad-bot">
        <div class="container">
            <h3 style="color: white"> 401 - Acesso Negado!</h3>
        </div>
    </div>
    <div>
        <div class="row">
            <h5 style="margin-left: 5%">Oops! Sua sessão expirou...</h5>
        </div>
        <div class="row">
            <p style="margin-left: 5%">
                <a href="@Url.Action("Index","Account")">Efetuar login novamente para continuar.</a>
            </p>
        </div>
    </div>

</body>
</html>
