﻿@{
    Layout = null;
}
<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="icon" type="image/png" href="@Url.Content("~/assets/img/favicon-16x16.png")" sizes="16x16">
    <link rel="icon" type="image/png" href="@Url.Content("~/assets/img/favicon-32x32.png")" sizes="32x32">

    <title>Soft-Line - Administração</title>

    <!-- uikit -->
    <link rel="stylesheet" href="@Url.Content("~/bower_components/uikit/css/uikit.almost-flat.min.css")" media="all">

    <!-- altair admin -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/error_page.css")" />

    <!-- matchMedia polyfill for testing media queries in JS -->
    <!--[if lte IE 9]>
        <script type="text/javascript" src="@Url.Content("~/bower_components/matchMedia/matchMedia.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/bower_components/matchMedia/matchMedia.addListener.js")"></script>
    <![endif]-->

</head>
<body style="background-color: #F5F2F0;">

    <div style="background-color: rgba(255, 16, 0, 0.87);" class="row section no-pad-bot">
        <div class="container">
            <h3 style="color: white">500!</h3>
        </div>
    </div>
    <div>
        <div class="row">
            <h5 style="margin-left: 5%">Oops! Algo deu errado...</h5>
        </div>
        <div class="row">
            <p style="margin-left: 5%">
                Um erro inesperado ocorreu, por favor tente novamento mais tarde.
            </p>
            <a href="#" onclick="history.go(-1);return false;">Voltar a página anterior.</a>
        </div>
    </div>

</body>
</html>
