﻿<script src="~/Scripts/PedidoVenda/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Listagem de Pedido de Venda</span>
                        <div class="actions">
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaPedido">
                            <thead>
                                <tr>
                                    <th width="20%">Codigo Pedido</th>
                                    <th width="20%">Cliente</th>
                                    <th width="20%">Data do Pedido</th>
                                    <th width="20%">Valor</th>
                                    <th class="desabilita-ordenacao" width="20%"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>