﻿@model Api.Models.Model.PedidoVendaModel

<div id="page_content_inner">
    <form>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row titulo">
                            <div class="col s12">
                                <h4>Visualizar Pedido de Venda</h4>
                            </div>
                        </div>
                        <h5 class="classe-subtitulo">Informações Gerais</h5>
                        <div class="row">
                            <div class="input-field col s4">
                                <label for="PedidoCodigo">Código de Pedido </label>
                                @Html.TextBoxFor(model => model.PedidoCodigo, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="Nome" class="active">Cliente </label>
                                @Html.TextBoxFor(model => model.Cliente.Nome, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="Nome" class="active">Vendedor </label>
                                @Html.TextBoxFor(model => model.Vendedor.Nome, new { @disabled = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <label for="Nome">Plano de Pagamento </label>
                                @Html.TextBoxFor(model => model.PlanoPagamento.Nome, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="DataPedido">Data do Pedido </label>
                                @Html.TextBoxFor(model => model.DataPedido, new { @disabled = true })
                            </div>
                            <div class="input-field col s4">
                                <label for="StatusIntegracao">Status de Integração </label>
                                @Html.TextBoxFor(model => model.StatusIntegracao, new { @disabled = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s3">
                                <label for="ValorProduto">Valor do Produto </label>
                                @Html.TextBoxFor(model => model.ValorProduto, new { @disabled = true })
                            </div>
                            <div class="input-field col s3">
                                <label for="ValorDesconto">Valor do Desconto </label>
                                @Html.TextBoxFor(model => model.ValorDesconto, new { @disabled = true })
                            </div>
                            <div class="input-field col s3">
                                <label for="ValorAcrescimo">Valor de Acréscimo </label>
                                @Html.TextBoxFor(model => model.ValorAcrescimo, new { @disabled = true })
                            </div>
                            <div class="input-field col s3">
                                <label for="Valor">Valor Total </label>
                                @Html.TextBoxFor(model => model.Valor, new { @disabled = true })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="Observacao" class="active">Observação </label>
                                @Html.TextAreaFor(model => model.Observacao, new { @class = "materialize-textarea", @disabled = true })
                            </div>
                        </div>
                        <div class="card material-table">
                            <div class="card-content">
                                <h5 class="classe-subtitulo">
                                    Itens de Pedido
                                </h5>
                                <div class="row">
                                    <table class="highlight responsive-table">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%">Código do Item</th>
                                                <th style="width: 10%">Código do Produto</th>
                                                <th style="width: 20%">Quantidade</th>
                                                <th style="width: 20%">Valor Unitário</th>
                                                <th style="width: 20%">Valor Desconto</th>
                                                <th style="width: 20%">Valor Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="innerTableItensPedido">
                                            @if (Model.ItensPedido != null)
                                            {
                                                foreach (var item in Model.ItensPedido)
                                                {
                                                    <tr>
                                                        <td>@item.ItemCodigo</td>
                                                        <td>@item.ProdutoCodigo</td>
                                                        <td>@item.Quantidade</td>
                                                        <td>@item.ValorUnitario.ToString("N2")</td>
                                                        <td>@item.ValorDesconto.ToString("N2")</td>
                                                        <td>@item.ValorTotal.ToString("N2")</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        Nenhum Item de Pedido Cadastrado
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>