﻿<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <title>Soft-Line - Administração</title>

    <!-- Materialize Css -->
    <link href="~/content/materialize/css/materialize.min.css" rel="stylesheet" />

    <!-- Fontes da Google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Estilos Soft-Line Css -->
    <link href="~/content/CssPersonalizado/EstilosSoftLine.css" rel="stylesheet" />

    <!-- Materialize DataTables -->
    <link href="~/content/CssPersonalizado/materialize-datatables.css" rel="stylesheet" />

    <!-- DropZone -->
    <link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />

</head>
<body>
    <!-- main header -->
    <header id="header_main">
        <div class="navbar-fixed">
            <nav class="navbar-color red" role="navigation">
                <div class="nav-wrapper">
                    <a href="#" data-activates="sidenav-slide" class="button-collapse hide-on-large-only left" style="padding-left: 10px;"><i class="mdi-navigation-menu"></i></a>
                    <a class="dropdown-button btn-flat right" data-constrainwidth="false" data-beloworigin="true" data-activates="menu-usuario"><i class="material-icons">more_vert</i></a>
                    <ul id="menu-usuario" class="dropdown-content dropdown-content-navbar" style="width: 150px;">
                        @Html.Raw(TempData["MenuUsuario"])
                    </ul>
                </div>
            </nav>
        </div>
        <aside id="left-sidebar-nav">
            <ul id="sidenav-slide" class="side-nav fixed leftside-navigation">
                @Html.Raw(TempData["MenuLateral"])
            </ul>
        </aside>
    </header>

    <!-- JQuery -->
    <script src="~/Scripts/jquery-2.2.2.min.js"></script>

    <!-- Materialize -->
    <script src="~/Scripts/materialize/materialize.min.js"></script>

    <!-- main header end -->
    <div id="main">
        <div class="wrapper">
            <section id="conteudo">
                <div id="page_content" class="container-frame">
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>

    <!-- Classes JS uteis -->
    <script src="~/Scripts/Util/FuncoesClasses.js"></script>

    <!-- DropZone -->
    <script src="~/Scripts/dropzone/dropzone.min.js"></script>

    <!-- Datatables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>

    <!-- Materialize DataTables -->
    <script src="~/Scripts/DataTables/materialize-datatables.js"></script>

    <!-- blockUI -->
    <script src="~/Scripts/typings/jquery.blockUI/jquery.blockUI.js"></script>

    <!-- google web fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    @RenderSection("scripts", false)

    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>
</body>
</html>