﻿@model Api.Models.Model.FinanceiroModel

<script src="~/Scripts/Financeiro/Financeiro.js"></script>
<script src="~/Scripts/Financeiro/Criar.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Criar Cadastro Financeiro</h4>
                        </div>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <form action="@Url.Action("Criar")" id="EnviarFinanceiro" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DropDownListFor(model => model.ClienteCodigo, TempData["Clientes"] as IEnumerable<SelectListItem>, new { @class = "validate", @required = "required" })
                                    <label for="ClienteCodigo">Cliente <span class="obrigatorio">*</span></label>
                                </div>
                                <div class="col s2">
                                    <label for="Emissao">Data de Emissão <span class="obrigatorio">*</span></label>
                                    <input type="date" id="Emissao" nome="Emissao" class="datepicker" required maxlength="10" />
                                </div>
                                <div class="col s2">
                                    <label for="Vencimento">Data de Vencimento <span class="obrigatorio">*</span></label>
                                    <input type="date" id="Vencimento" nome="Vencimento" class="datepicker" required maxlength="10" />
                                </div>
                                <div class="col s2">
                                    <label for="Pagamento">Data de Pagamento</label>
                                    <input type="date" id="Pagamento" nome="Pagamento" class="datepicker" maxlength="10" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Documento">Nº Documento <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Documento, new { @class = "validate", @required = "required" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="Valor">Valor <span class="obrigatorio">*</span></label>
                                    <input type="text" id="Valor" name="Valor" class="formata-currency validate" required maxlength="17" />
                                </div>
                            </div>
                            @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>