﻿@model Api.Models.Model.FinanceiroModel

<script src="~/Scripts/Financeiro/Financeiro.js"></script>
<script src="~/Scripts/Financeiro/Editar.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Editar Cadastro Financeiro</h4>
                        </div>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <form action="@Url.Action("Editar")" id="EnviarFinanceiro" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DropDownListFor(model => model.ClienteCodigo, TempData["Clientes"] as IEnumerable<SelectListItem>, new { @class = "validate", @required = "required", @disabled = true })
                                    <label for="ClienteCodigo">Cliente <span class="obrigatorio">*</span></label>
                                </div>
                                <div class="col s2">
                                    <label for="Emissao">Data de Emissão <span class="obrigatorio">*</span></label>
                                    <input type="text" id="Emissao" nome="Emissao" class="datepicker" required maxlength="10" />
                                </div>
                                <div class="col s2">
                                    <label for="Vencimento">Data de Vencimento <span class="obrigatorio">*</span></label>
                                    <input type="text" id="Vencimento" nome="Vencimento" class="datepicker" required maxlength="10" />
                                </div>
                                <div class="col s2">
                                    <label for="Pagamento">Data de Pagamento <span class="obrigatorio">*</span></label>
                                    <input type="date" id="Pagamento" nome="Pagamento" class="datepicker" maxlength="10" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Documento">Nº Documento <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Documento, new { @class = "validate", @required = "required", @readonly = "readonly" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="Valor">Valor <span class="obrigatorio">*</span></label>
                                    <input type="text" id="Valor" name="Valor" class="formata-currency validate" value="@Model.Valor" required maxlength="17" />
                                </div>
                            </div>
                            @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @if (Model.Pagamento.HasValue)
    {
        <script>
            //Inicializa valores do picker
            $("#Pagamento").pickadate().pickadate('picker').set('select', '@Model.Pagamento.Value.ToShortDateString()');
        </script>
    }
    <script>
    $(document).ready(function () {
        $('#ClienteCodigo').material_select();

        //inicializa o picker
        $("#Emissao").click(function (event) {
            event.stopPropagation();
            $("#Emissao").pickadate("picker").open();
        });
        $("#Emissao").pickadate().pickadate('picker').set('select', '@Model.Emissao.ToShortDateString()');

        $("#Vencimento").click(function (event) {
            event.stopPropagation();
            $("#Vencimento").pickadate("picker").open();
        });
        $("#Vencimento").pickadate().pickadate('picker').set('select', '@Model.Vencimento.ToShortDateString()');

        $("#Pagamento").click(function (event) {
            event.stopPropagation();
            $("#Pagamento").pickadate("picker").open();
        });
    });
    </script>
}