﻿@model List<Api.Models.Model.FinanceiroModel>

<script src="~/Scripts/Financeiro/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Listagem de Cadastro Financeiro</span>
                        <div class="actions">
                            <a href="@Url.Action("Criar")" class="waves-effect btn-flat nopadding"><i class="material-icons">add_circle</i></a>
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaFinanceiro">
                            <thead>
                                <tr>
                                    <th>Nome do Cliente</th>
                                    <th>Nº Documento</th>
                                    <th>Data de Emissão</th>
                                    <th>Data de Vencimento</th>
                                    <th>Data de Pagamento</th>
                                    <th>Valor</th>
                                    <th class="desabilita-ordenacao"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Cliente.Nome</td>
                                        <td>@item.Documento</td>
                                        <td>@item.Emissao.ToShortDateString()</td>
                                        <td>@item.Vencimento.ToShortDateString()</td>
                                        <td>@if (item.Pagamento.HasValue) { @item.Pagamento.Value.ToShortDateString() }</td>
                                        <td>@item.Valor</td>
                                        <td>
                                            <a class="icone-clicavel" onclick="ExcluirFinanceiro('@item.ClienteCodigo','@item.Documento')"><i class="material-icons">&#xE872;</i></a>
                                            <a class="icone-clicavel" href="@Url.Action("Editar", "Financeiro", new { clienteCodigo = item.ClienteCodigo, documento = item.Documento })"><i class="material-icons">&#xE254;</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>