﻿body{
    background-color: #F5F2F0;
}

main, footer, .container-frame {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer, .container-frame {
        padding-left: 0;
    }
}

select{
    background-color:transparent;
    width:100%;
    padding:5px;
    border:none;
    border-radius:2px;
    height:3rem;
    border-bottom:1px solid #9e9e9e
}

#left-sidebar-nav{
    position:fixed;
    width:100px;
    left:180px;
    z-index:999;
    height:auto
}

.side-nav.leftside-navigation li{
    line-height: 100px;
}

ul.side-nav.leftside-navigation{
    top:64px;
    overflow:hidden;
}

ul.side-nav.leftside-navigation li:hover{
    background-color:rgba(0,0,0,0.04)
}
ul.side-nav.leftside-navigation li.active{
    background-color:rgba(0,0,0,0.04)
}
ul.side-nav.leftside-navigation li a{
    font-size:14px;
    font-weight: 400
}
ul.side-nav.leftside-navigation li.user-details{
    background:url("../images/user-bg.jpg") no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    margin-bottom:15px;
    padding:15px 0 0 15px
}
ul.side-nav.leftside-navigation li.user-details a{
    padding:8px 15px
}
ul.side-nav.leftside-navigation ul.collapsible-accordion{
    background-color:#fff
}

.side-nav.leftside-navigation .collapsible-body li.active{
    background-color:rgba(0,0,0,0.04)
}
.side-nav.fixed.leftside-navigation .collapsible-body li.active{
    background-color:rgba(0,0,0,0.04)
}
.side-nav .collapsible-body li a{
    margin:0 1rem 0 3rem
}

.side-nav a{
    height: 55px;
    line-height: 50px;
}

.side-nav a div{
    display: flex;
    align-items: center;
}

.side-nav a div span{
    margin-top: 3px;
}

ul.side-nav.leftside-navigation hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #e0e0e0;
    margin:1em 0;
    padding:0
}
ul.side-nav.leftside-navigation li:hover{
    background-color:rgba(0,0,0,0.04)
}
ul.side-nav.leftside-navigation li.active{
    background-color:rgba(0,0,0,0.04)
}
ul.side-nav.leftside-navigation li a{
    font-size:14px;
    font-weight:400
}
ul.side-nav li{
    padding:0
}

.menu_title {
    margin-left: 15px;   
    font-size: medium;
}

.menu_icon {
    align-self: baseline
}

.classe-subtitulo{
    margin: 15px 0 30px;
    padding: 14px 20px;
    background-color: #e0e0e0;
}

.icone-clicavel {
    float: right; 
    cursor: pointer; 
    cursor: hand;
}

.centro-pagina {
    display:table; 
    vertical-align: middle; 
    margin:auto; 
    height: 100%;
    margin-top: 5%;
}

.icone-centro {
    display: inline-block; 
    width: 100%; 
    text-align: center;
}

.obrigatorio {
    color: red;
}

.picker__holder { 
    overflow: visible !important; 
}

input.formata-currency {
    text-align: right;
}

input.apenas-numeros {
    /*Classe criada para função de controle de números. Ver FuncoesClasses.js*/
}

.datepicker {
    height: 38px !important;
}

.titulo {
    border-bottom: groove; 
    border-bottom-width: 1px;
}

.dropdown-content-navbar {
    top: 65px !important;
}

.dropdown-content-navbar li > a, .dropdown-content li > span {
  font-size: 14px;
  color: #000000;
  display: block;
  line-height: 15px;
  padding: 14px 16px;
}

.carousel.carousel-slider {
  top: 0;
  left: 0;
  height: 600px;
  margin-left: 8px !important;
  margin-right: -8px !important;
}

form.dropzone{
    border-color: palevioletred;
    border-style: dashed;
    border-width: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    opacity: 5;
}