﻿@model Api.Models.Model.VendedorModel

<script src="~/Scripts/Vendedor/Vendedor.js"></script>
<script src="~/Scripts/Vendedor/Criar.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Criar Vendedor</h4>
                        </div>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <form action="@Url.Action("Criar")" id="formVendedor" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Nome" class="active">Nome <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Nome, new { @maxlength="60", @required = "required" })
                                </div>
                                <div class="input-field col s6">
                                    <label for="StatusVendedor" class="active">Status Vendedor <span class="obrigatorio">*</span></label>
                                    @Html.EditorFor(model => model.StatusVendedor, "Situacao", new { @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="Observacao" class="active">Observação</label>
                                    @Html.TextAreaFor(model => model.Observacao, new { @class="materialize-textarea", @maxlength="200", @rows="2" })
                                </div>
                            </div>
                            @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>