﻿@model Api.Models.UserModel

<script src="~/Scripts/Users/Create.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Criar Usuário</h4>
                        </div>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <form action="@Url.Action("Create")" method="post" class="uk-margin" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Name" class="active">Nome <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "validate", @required = "required" })
                                </div>
                                <div class="input-field col s6">
                                    <label for="LastName" class="active">Sobrenome</label>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "validate", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Email" class="active">Email <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "validate", @required = "required" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="Password" class="active">Senha <span class="obrigatorio">*</span></label>
                                    @Html.PasswordFor(model => model.Password, new { @class = "validate", @required = "required" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="PasswordCheck" class="active">Confirmar Senha <span class="obrigatorio">*</span></label>
                                    @Html.PasswordFor(model => model.PasswordCheck, new { @class = "validate", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    @Html.DropDownListFor(model => model.GrupoUsuariosCodigo, TempData["GrupoUsuarios"] as IEnumerable<SelectListItem>, new { @class = "validate", @required = "required" })
                                    <label for="GrupoUsuariosCodigo">Permissão <span class="obrigatorio">*</span></label>
                                </div>
                                <div class="input-field col s3">
                                    <select id="Active" name="Active" class="validate" required>
                                        <option value="true" selected>Ativo</option>
                                        <option value="false">Inativo</option>
                                    </select>
                                    <label>Situação</label>
                                </div>
                            </div>
                            @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    @if (TempData["messages"] != null)
    {
        <text>
            UIkit.notify({
            message: '@TempData["messages"]', // mensagem armazenada na operação anterior
            status: 'info',
            timeout: 5000,
            pos: 'top-center'
            });
        </text>
    }
</script>
}