﻿@model Api.Models.UserModel

<script src="~/Scripts/Users/Edit.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <h4>Editar Usuário</h4>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <form action="@Url.Action("Edit")" method="post" class="uk-margin" enctype="application/x-www-form-urlencoded">

                            <input type="hidden" name="UserID" value="@Model.UserID" />
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Name" class="active">Nome <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "validate", @required = "required" })
                                </div>
                                <div class="input-field col s6">
                                    <label for="LastName" class="active">Sobrenome</label>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "validate", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Email" class="active">Email <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "validate", @required = "required" })
                                </div>
                                <div class="input-field col s3">
                                    <label for="Password" class="active">Nova Senha </label>
                                    @Html.PasswordFor(model => model.Password)
                                </div>
                                <div class="input-field col s3">
                                    <label for="PasswordCheck" class="active">Confirmar Nova Senha </label>
                                    @Html.PasswordFor(model => model.PasswordCheck)
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    @Html.DropDownListFor(model => model.GrupoUsuariosCodigo, TempData["GrupoUsuarios"] as IEnumerable<SelectListItem>, new { @class = "validate", @required = "required" })
                                    <label for="GrupoUsuariosCodigo">Permissão <span class="obrigatorio">*</span></label>
                                </div>
                                <div class="input-field col s3">
                                    <select id="Active" name="Active">
                                        <option value="true" @(Model.Active == true ? "selected" : "")>Ativo</option>
                                        <option value="false" @(Model.Active == false ? "selected" : "")>Inativo</option>
                                    </select>
                                    <label>Situação <span class="obrigatorio">*</span></label>
                                </div>
                            </div>

                            <div class="row">
                                <button class="waves-effect waves-light blue lighten-1 btn" type="submit">Atualizar</button>
                                <a href="@Url.Action("Index")" class="white black-text btn">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    @if (TempData["messages"] != null)
    {
            <text>
            UIkit.notify({
                message: '@TempData["messages"]', // mensagem armazenada na operação anterior
                status: 'info',
                timeout: 5000,
                pos: 'top-center'
            });
            </text>
    }
</script>
}