﻿@model List<Api.Models.UserModel>

<script src="~/Scripts/Users/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Lista de usuários</span>
                        <div class="actions">
                            <a href="@Url.Action("Create")" class="waves-effect btn-flat nopadding"><i class="material-icons">add_circle</i></a>
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaUsers">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Sobrenome</th>
                                    <th>Email</th>
                                    <th>Situação</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.LastName</td>
                                        <td>@item.Email</td>
                                        <td>@(item.Active ? "Ativo" : "Inativo")</td>
                                        <td>
                                            <a class="icone-clicavel" onclick="DeleteRecord(@item.UserID);"><i class="material-icons">&#xE872;</i></a>
                                            <a class="icone-clicavel" href="@Url.Action("Edit", "Users", new { id = item.UserID })"><i class="material-icons">&#xE254;</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    