﻿@model Api.Models.Model.PlanoPagamentoModel

<script src="~/Scripts/PlanoPagamento/PlanoPagamento.js"></script>
<script src="~/Scripts/PlanoPagamento/Editar.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row titulo">
                        <div class="col s12">
                            <h4>Editar Plano de Pagamento</h4>
                        </div>
                    </div>
                    <h5 class="classe-subtitulo">Informações Gerais</h5>
                    <div class="row">
                        <form action="@Url.Action("Editar")" id="formPlano" method="post" enctype="application/x-www-form-urlencoded">
                            @Html.HiddenFor(model => model.Codigo)
                            <div class="row">
                                <div class="input-field col s6">
                                    <label for="Nome" class="active">Nome <span class="obrigatorio">*</span></label>
                                    @Html.TextBoxFor(model => model.Nome, new { @maxlength = "60", @required = "required" })
                                </div>
                                <div class="input-field col s6">
                                    <label for="StatusPlano" class="active">Situação <span class="obrigatorio">*</span></label>
                                    @Html.EditorFor(model => model.StatusPlano, "Situacao", new { @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="Observacao" class="active">Observação</label>
                                    @Html.TextAreaFor(model => model.Observacao, new { @class = "materialize-textarea", @maxlength = "200", @rows = "2" })
                                </div>
                            </div>
                            @Html.Partial("~/Views/Shared/Partial/SalvarBotoesPartial.cshtml")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>