﻿@model List<Api.Models.Model.PlanoPagamentoModel>

<script src="~/Scripts/PlanoPagamento/Index.js"></script>

<div id="page_content_inner">
    <div class="row">
        <div class="col s12">
            <div class="card material-table">
                <div class="card-content">
                    <div class="table-header">
                        <span class="table-title">Listagem de Plano de Pagamento</span>
                        <div class="actions">
                            <a href="@Url.Action("Criar")" class="waves-effect btn-flat nopadding"><i class="material-icons">add_circle</i></a>
                            <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="highlight dataTable responsive-table" id="tabelaPlano">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome do Plano</th>
                                    <th>Observação</th>
                                    <th>Situação</th>
                                    <th class="desabilita-ordenacao"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Codigo</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Observacao</td>
                                        <td>@item.StatusPlano</td>
                                        <td>
                                            <a class="icone-clicavel" onclick="ExcluirPlano('@item.Codigo')"><i class="material-icons">&#xE872;</i></a>
                                            <a class="icone-clicavel" href="@Url.Action("Editar", "PlanoPagamento", new { id = item.Codigo })"><i class="material-icons">&#xE254;</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>